* {
    box-sizing: border-box;
    font-family: sans-serif;
}

label{
height: 100%;
     display: table-cell;
    vertical-align: middle;
}
.row {
   
}
[class*="col-"] {
    float: left;
    padding: 10px;
/*    display: table-column;*/
     display: table-cell;
    vertical-align: middle;
}
.row:after ,.row:before{
    content: "";
    clear: both;
    display: block;
    padding: 3px;
}
.button {
     
    /*Step 2: Basic Button Styles*/
    display: block;
    height: 50px;
    background-color: #8ae462;
   
    /*Step 3: Text Styles*/
    color: white;
    text-align: center;
    font: bold 35px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}
.button > a{
text-decoration: none;
    color: white;
}
 
/*Step 3: Link Styling*/
a.button {
    text-decoration: none;
}
.col-1 {
    width: 8.33%;
}
.col-2 {
    width: 16.66%;
}
.col-3 {
    width: 25%;
}
.col-4 {
    width: 33.33%;
}
.col-5 {
    width: 41.66%;
}
.col-6 {
    width: 50%;
}
.col-7 {
    width: 58.33%;
}
.col-8 {
    width: 66.66%;
    
}
.col-9 {
    width: 75%;
}
.col-10 {
    width: 83.33%;
}
.col-11 {
    width: 91.66%;
}
.col-12 {
    width: 100%;
}
.col-c{
width:12%;
}

.today{
color: white;
    background-color: #6dde3c;
    height: 50px;
    text-align: center;
    font-size: 25px;
}
.drow{
    border-bottom-style: solid;
border-bottom-width: 1px;
    border-bottom-color: greenyellow;
    font-size: 20px;
    color: greenyellow;
}
.todays{
color:white;
    background-color: #8ae462;
}
.active {
    color:white;
    background-color: greenyellow;
}
.bold{
font-size: 35px;
}
.leftalign{
    
text-align: left;
}
.rightalign{
    
text-align: right;
}
.user{
    font-size: 15px;
    font-weight: bolder;
}
.tweet{
    color: dimgrey;
    
}
p{
    word-wrap: break-word;
}
.lab10{
    border-left-color: greenyellow;
    border-left-style: solid;
    border-left-width: 2px;
}

#end{
    position: relative;
    font-family: serif;
    color: blue;
    bottom: 3%;
    left: 85%;
}
